@model PortalNeolaser.Areas.Admin.Models.ElementoAuditadoViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edición del Elemento</h2>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Action<MVCxFormLayoutItem> AuthorizationDataTextBoxSettingsMethod = (item) =>
    {
        item.NestedExtension().TextBox(s =>
        {
            s.Properties.Password = s.Name.Contains("Password");
            s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Right;
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
        });
    };
}
<script type="text/javascript">
$(document).ready(function () {
    if(Boolean('@(ViewBag.SuccessValidation)'))
        alert('El elemento ha sido dado de alta');
});
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "FormLayoutUsuario";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(50);
    var groupItem = settings.Items.AddGroupItem(groupSettings =>
    {
        groupSettings.Caption = "Rellene los datos del Formulario para dar alta al nuevo Elemento";
        groupSettings.ShowCaption = DefaultBoolean.True;
        groupSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
    });

    groupItem.SettingsItems.ShowCaption = DefaultBoolean.True;
    groupItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Left;
    groupItem.SettingsItemHelpTexts.Position = HelpTextPosition.Auto;

    groupItem.Items.Add(m => m.FkAuditoria, item => { item.HelpText = ""; });
    groupItem.Items.Add(m => m.FkElemento, item => { item.HelpText = ""; });
    groupItem.Items.Add(m => m.Id, item =>
    {
        item.HelpText = "";

    });

    groupItem.Items.Add(m => m.Descripcion, item =>
    {
        item.HelpText = "";
        item.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        item.NestedExtensionSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    });
    groupItem.Items.Add(m => m.Estado, item =>
    {
        item.HelpText = "";
        item.NestedExtension().RadioButtonList(s =>
        {
            s.Properties.ValueField = "Value";
            s.Properties.TextField = "TextField";
            s.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            s.Properties.Items.Add("Buen Estado", true);
            s.Properties.Items.Add("Mal Estado", false);
            s.SelectedIndex = 0;

        });
    });
    groupItem.Items.Add(m => m.Observaciones, item =>
    {
        item.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
        item.NestedExtensionSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        item.NestedExtensionSettings.Height = 60;
        item.HelpText = "";
    });
    groupItem.Items.Add(item =>
    {
        item.Caption = "Foto";
        item.SetNestedContent(() =>
        {
            Html.RenderPartial("UploadControlPartial");
        });
    });
    groupItem.Items.Add(i =>
    {
        i.Caption = " ";
        i.NestedExtension().Button(s =>
        {
            s.Name = "btnEnviar";
            s.Text = "Enviar";
            s.UseSubmitBehavior = true;
        });

    });

}).GetHtml()
}

<div>
    @Html.ActionLink("Volver", "Index", new { idAuditoria = Model.FkAuditoria })
</div>
