@model IEnumerable<PortalNeolaser.Models.Sucursal>

@{
    ViewBag.Title = "Sucursales";
}


<div class="col-lg-10">
    <h3><spam class="label label-primary">Sucursales de alta en el Sistema </spam></h3>
    <br />

</div>
<div>
    <div>

        @Html.Action("GridViewSucursalesPartial")


        @*@Html.Action("GridViewAuditoriaDetailPartial")*@


    </div>
</div>

