@using System.Globalization
@model PortalNeolaser.Areas.Admin.Models.AuditoriaViewModel

@{
    ViewBag.Title = "Edición de Auditoría";
}
<h2>Edición de Auditoría</h2>

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Action<MVCxFormLayoutItem> AuthorizationDataTextBoxSettingsMethod = (item) =>
    {
        item.NestedExtension().TextBox(s =>
        {
            s.Properties.Password = s.Name.Contains("Password");
            s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Right;
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
        });
    };
}
<script type="text/javascript">
$(document).ready(function () {
    if(Boolean('@(ViewBag.SuccessValidation)'))
        alert('La auditoria ha sido actualizada');
});
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "FormLayoutUsuario";

    var groupItem = settings.Items.AddGroupItem(groupSettings =>
    {
        groupSettings.Caption = "Formulario de edición de Auditoría";
        groupSettings.ShowCaption = DefaultBoolean.True;
        groupSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
    });

    groupItem.SettingsItems.ShowCaption = DefaultBoolean.True;
    groupItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Left;

    groupItem.SettingsItemHelpTexts.Position = HelpTextPosition.Auto;

    groupItem.Items.Add(m => m.Sucursal, item =>
    {
        item.HelpText = "";
        item.Caption = "Sucursal";
        item.NestedExtension().ComboBox(s =>
        {
            s.Properties.DropDownStyle = DropDownStyle.DropDownList;
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            s.Properties.DataSource = ViewBag.FkSucursal;

        });
    });
    groupItem.Items.Add(m => m.Usuario, item =>
    {
        item.HelpText = "";
        item.Caption = "Usuario";

        item.NestedExtension().ComboBox(s =>
        {
            s.Properties.DropDownStyle = DropDownStyle.DropDownList;
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            s.Properties.DataSource = ViewBag.FkUsuario;


        });
    });


    groupItem.Items.Add(m => m.FechaInicio, item =>
    {
        item.HelpText = "";
        item.NestedExtension().DateEdit(s =>
        {
            s.Properties.UseMaskBehavior = true;
            s.Properties.EditFormat = EditFormat.Custom;

            s.Properties.EditFormatString = "dd/MM/yyyy HH:mm tt";
            s.Properties.TimeSectionProperties.Visible = true;
            s.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Custom;
            s.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "HH:mm tt";
            s.Date = DateTime.Now;

        });
    });

    groupItem.Items.Add(m => m.FechaFin, item =>
    {
        item.HelpText = "";
        item.NestedExtension().DateEdit(s =>
        {
            s.Properties.UseMaskBehavior = true;
            s.Properties.EditFormat = EditFormat.Custom;
            s.Properties.EditFormatString = "dd/MM/yyyy HH:mm tt";

            s.Properties.TimeSectionProperties.Visible = true;
            s.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Custom;
            s.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "HH:mm tt";
            s.Date = DateTime.Now;

        });
    });

    groupItem.Items.Add(m => m.Estado, item =>
    {
        item.HelpText = "";
        item.NestedExtension().RadioButtonList(s =>
        {
            s.Properties.ValueField = "Value";
            s.Properties.TextField = "TextField";
            s.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            s.Properties.Items.Add("Finalizada",true);
            s.Properties.Items.Add("No Finalizada",false);
            s.SelectedIndex= 1;

        });
    });


    groupItem.Items.Add(i =>
    {
        i.Caption = " ";
        i.NestedExtension().Button(s =>
        {
            s.Name = "btnEnviar";
            s.Text = "Enviar";
            s.UseSubmitBehavior = true;
        });

    });



}).GetHtml()

}

<div>
    @Html.ActionLink("Volver", "Index")
</div>