@model PortalNeolaser.Models.RegisterModel
@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

<div class="accountHeader">
    <h2>Crear Nuevo Usuario</h2>
    <p>Rellena el siguiente formulario para crear un nuevo usuario.</p>
</div>

@Html.DevExpress().FormLayout(settings =>
{
    settings.Width = Unit.Percentage(100);
    settings.Name = "flUsuario";
    settings.Items.AddGroupItem(groupSettings =>
    {
        groupSettings.Caption = "Usuarios";
        groupSettings.Items.Add(m => m.UserName);
        groupSettings.Items.Add(m => m.Email, itemsettings =>
        {
            itemsettings.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;

        }
        );

        groupSettings.Items.Add(m => m.Password, itemSettings =>
        {
            itemSettings.NestedExtensionType =
              FormLayoutNestedExtensionItemType.Memo;
        });
        groupSettings.Items.Add(m => m.ConfirmPassword);


    });
    settings.Items.Add(i =>
    {
        i.Caption = " ";
        i.NestedExtension().Button(s =>
        {
            s.Name = "Alta";
            s.Text = "Dar Alta";
            s.UseSubmitBehavior = true;
        });
    });



}).GetHtml()
