@{ ViewBag.Title = "Home"; }
<div class="container-fluid">
    <div class="row">
        @Html.DevExpress().ImageSlider(s => {
            s.Name = "ImageSlider";
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(400);

            s.SettingsImageArea.ImageSizeMode = ImageSizeMode.FillAndCrop;
            s.SettingsImageArea.NavigationButtonVisibility = ElementVisibilityMode.Always;
            s.SettingsImageArea.EnableLoopNavigation = true;
            s.SettingsNavigationBar.Mode = NavigationBarMode.Dots;

            s.SettingsSlideShow.AutoPlay = true;
            s.SettingsSlideShow.PlayPauseButtonVisibility = ElementVisibilityMode.OnMouseOver;
        }).BindToFolder("~/Content/Images/Neolaser/Slider").GetHtml()
    </div>
</div>
<div class="container">
    <section class="row text-center">
        <div class="col-md-12">
            <h1>Bienvenido al Portal del Cliente.</h1>
            <h2>NEOlaser Fabricamos tus Ideas</h2>    
            <p class="mainText">
                Empresa especializada en la fabricación de artículos a medida para PLV,retail, mobiliario comercial, rotulación, vinilos, impresión digital, cualquier tipo de elementos para escaparatismo, escenografía y decoración.</p>

        </div>
        <div class="col-md-12 marginTop20">
            <a class="btn btn-primary btn-lg" href="@Url.Action("Acceder", "Account", new { area = "" })"><i class="glyphicon glyphicon-info-sign"></i> Accede</a>
        </div>
    </section>
    <section class="row features">
        <div class="col-md-4 media">
            <div class="media-left">
                <div class="media-object">
                    <i class="glyphicon glyphicon-user featureIcon text-primary"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">NUESTRO EQUIPO</h4>
                <p>Estamos formados por un equipo de profesionales con una dilatada experiencia en trabajos para franquicias, tiendas y marcas que hasta hoy siguen depositando su confianza en nuestra labor y resultados.</p>
            </div>
        </div>
        <div class="col-md-4 media">
            <div class="media-left">
                <div class="media-object">
                    <i class="glyphicon glyphicon-home featureIcon text-primary"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">INSTALACIONES</h4>
                <p>Las instalaciones de NEOlaser cuentan más de 5000 m² distribuidos entre sus 4 sectores principales: Transformaciones Plásticas, Carpintería, Metalistería e Impresión.</p>
            </div>
        </div>
        <div class="col-md-4 media">
            <div class="media-left">
                <div class="media-object">
                    <i class="glyphicon glyphicon-shopping-cart featureIcon text-primary"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">SERVICIOS</h4>
                <p>FABRICAMOS TUS IDEAS. Tenemos todos los medios y técnicas necesarias para la fabricación de tu IDEA trabajando sinérgicamente para lograr un objetivo:
LA CALIDAD DEL PRODUCTO.</p>
            </div>

        </div>
        @*<div class="col-md-3 media">
            <div class="media-left">
                <div class="media-object">
                    <i class="glyphicon glyphicon-pencil featureIcon text-primary"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">MATERIALES</h4>
                <p>En NEOlaser trabajamos con una amplia variedad de materiales, medidas, colores, texturas… Metacrilato, Policarbonato, Vinilos, PVC espumado, PVC compacto, Luces LED, PET, Dibond, Madera, Acero, Hierro, Aluminio… </p>
            </div>

        </div>*@
    </section>
</div>