@{
    ViewBag.Title = "Index";
}

<div class="col-lg-10">
    <h2><spam class="label label-primary">Elementos en Mal Estado detectados en Auditorias</spam></h2>
    <br />

</div>
<div>
    <div>
        @Html.Action("GridViewElementosMalPartial")
    </div>
</div>