<div class='title'>  
    <img src="~/Content/Images/Neolaser/logo2.png" />
</div>
<div class="panelContent">
    <div class="pull-right">
        <div class="panelItem">
            @Html.DevExpress().Menu(m => {
           m.Name = "NavMenu";
           m.EnableAnimation = true;
           m.ControlStyle.CssClass = "navMenu";
           m.Styles.Item.Paddings.PaddingLeft = 22;
           m.Styles.Item.Paddings.PaddingRight = 22;          
       }).GetHtml() 
        </div>
       
        <div class="panelItem">
            @Html.Partial("LogOnPartialView") 
        </div>
 
    </div>
    <div class="clearfix"></div>
</div>